.profile-container {
  padding-top: 64px; /* Adjust to the height of the header */
  padding-bottom: 48px; /* Adjust to the height of the footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.upload-input {
  margin: 10px 0;
}

.table-container {
  width: 100%;
  margin-top: 20px;
}
